config:
  backup: true
  create: true
  dotpath: files
  longkey: true
  showdiff: true
dotfiles:
  d_foot:
    src: foot
    dst: ~/.config/foot
  d_scripts:
    src: scripts
    dst: ~/scripts
  d_termite:
    src: termite
    dst: ~/.config/termite
  d_tmux:
    src: tmux
    dst: ~/.config/tmux
  f_alacritty:
    src: alacritty/alacritty.toml
    dst: ~/.config/alacritty/alacritty.toml
  f_sxhkd:
    src: sxhkd/sxhkdrc
    dst: ~/.config/sxhkd/sxhkdrc
  d_zshrc:
    src: zsh
    dst: ~/.config/zsh
  f_aliases:
    src: aliases
    dst: ~/.config/aliases
  f_bashrc:
    src: bash/bashrc
    dst: ~/.bashrc
  f_envrc:
    src: envrc
    dst: ~/.config/envrc
  f_functions:
    src: functions
    dst: ~/.config/functions
  f_profile:
    src: bash/profile
    dst: ~/.profile
  d_polybar:
    src: polybar
    dst: ~/.config/polybar
    upignore:
    - '*/scripts/env.sh'
  d_waybar:
    src: waybar
    dst: ~/.config/waybar
  f_conkyrc:
    src: conky/conkyrc
    dst: ~/.conkyrc
  f_conkyrc2:
    src: conky/conkyrc2
    dst: ~/.conkyrc2
  f_i3-barconfig:
    src: i3/barconfig
    dst: ~/.config/i3/barconfig
  f_i3-config:
    src: i3/config
    dst: ~/.config/i3/config
  f_inicio-conky:
    src: conky/inicio-conky.sh
    dst: ~/.inicio-conky.sh
  f_rofi-config:
    src: rofi/config.rasi
    dst: ~/.config/rofi/config.rasi
  f_rofi-personal:
    src: rofi/personal.rasi
    dst: ~/.config/rofi/personal.rasi
  d_nvim-lua:
    src: nvim/lua
    dst: ~/.config/nvim/lua
  f_nvim-init:
    src: nvim/init.lua
    dst: ~/.config/nvim/init.lua
  d_sway:
    src: sway
    dst: ~/.config/sway
  d_environment:
    src: environment.d
    dst: ~/.config/environment.d
  d_vim-config-plugins:
    src: vim/config-plugins
    dst: ~/.vim/config-plugins
  d_vim-settings:
    src: vim/settings
    dst: ~/.vim/settings
  f_vim-vimrc:
    src: vim/vimrc
    dst: ~/.vim/vimrc
  f_xinitrc:
    src: X/xinitrc
    dst: ~/.xinitrc
  f_xprofile:
    src: X/xprofile
    dst: ~/.xprofile
  f_xresources:
    src: X/Xresources
    dst: ~/.Xresources
  f_zshenv:
    src: zshenv
    dst: ~/.zshenv

profiles:
  bender:
    include:
    - X
    - conky
    - i3
    - nvim
    - rofi
    - sh
    - vim
    dotfiles:
    - d_tmux
    - f_alacritty
    - f_sxhkd

  kug:
    include:
    - nvim
    - sway
    - sh
    dotfiles:
    - d_tmux
    - d_foot
    - d_waybar
    - f_rofi-config

  nibbler:
    include:
    - X
    - i3
    - nvim
    - rofi
    - sh
    - vim
    dotfiles:
    - d_scripts
    - d_termite
    - d_tmux
    - f_sxhkd

  server:
    include:
    - nvim
    dotfiles:
    - f_aliases

  yanos:
    include:
    - nvim
    - rofi
    - sh
    - sway
    - vim
    dotfiles:
    - d_foot
    - d_scripts
    - d_tmux
    - d_waybar
    - f_aliases

# Packages used above
  conky:
    dotfiles:
    - f_conkyrc
    - f_conkyrc2
    - f_inicio-conky

  i3:
    dotfiles:
    - d_polybar
    - f_i3-barconfig
    - f_i3-config

  nvim:
    dotfiles:
    - d_nvim-lua
    - f_nvim-init

  rofi:
    dotfiles:
    - f_rofi-config
    - f_rofi-personal

  sh:
    dotfiles:
    - d_zshrc
    - f_aliases
    - f_bashrc
    - f_envrc
    - f_functions
    - f_profile
    - f_zshenv

  sway:
    dotfiles:
    - d_sway
    - d_environment

  vim:
    dotfiles:
    - d_vim-config-plugins
    - d_vim-settings
    - f_vim-vimrc

  X:
    dotfiles:
    - f_xinitrc
    - f_xprofile
    - f_xresources
